<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">

    <title>Hello</title>

  </head>
  <body>
    <br> 
  	<div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TiffinBookingService</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register</a>
                <a class="nav-item nav-link" href="{% url 'orders:home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'orders:listorders' %}">List Orders</a>
                <a class="nav-item nav-link" href="{% url 'accounts:allusers' %}">Users List</a>
                <!-- <a class="nav-item nav-link" href="{% url 'accounts:edit_profile' pk=user.pk %}">Edit Profile</a> -->
                <a class="nav-item nav-link" href="{% url 'accounts:logout_view' %}">Logout</a>
              </div>
            {% else %}
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'orders:home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'accounts:view_profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'accounts:logout_view' %}">Logout</a>
              <a class="nav-item nav-link" href="{% url 'orders:placeorder' %}">Place Order</a>
             <!-- <a class="nav-item nav-link" href="{% url 'orders:listorders' %}">List Orders</a> -->
              <a class="nav-item nav-link" href="{% url 'orders:order_history' %}">Order History</a>
            </div>
            {% endif %}
          {% else %}
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'accounts:login_view' %}">Login</a>
             <!--  <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register</a> -->
            </div>
        {% endif %}
  </div>
</nav>
    </div>
    <br>
  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>