{% extends 'base.html' %}

{% block content %}

{% for odr in orders %}

	<table>
	<tr>
	<td style="padding: 15px">User : {{ odr.user }}</td>
	<td style="padding: 15px">Date : {{ odr.date }}</td>
	<td style="padding: 15px">Time : {% if odr.time == 'B' %} Breakfast {% elif odr.time == 'L' %} Lunch {% elif odr.time == 'D' %} Dinner {% endif %}</td>
	<td style="padding: 15px">Quantity : {{ odr.quantity }}</td>
	<td style="padding: 15px">Payment : {{ odr.payable_amount }}</td>
	</table>

{% endfor %}

{% endblock %}
