{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<table style="width: 80%; border: 2px solid black">
				<th>
					<td>Contact Numbers</td>
					<td>Balance Amount</td>
				</th>	
				{% for u in users %}
				<tr>
					<td style="padding-left: 30%; padding-right: 10%; margin: 20px;"><a href="{% url 'accounts:edit_profile' pk=u.pk %}">{{u.contact_number}}</a></td>
					<td style="padding-left: 40%; padding-right: 5%; margin: 20px;">{{u.balance_amount}}</td>
				</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}