{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Submit</button>
			<br>
		</form>
	</div>
{% endblock %}