{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
	<p>Invalid username or password</p>
{% endif %}

<div class="container" style="width: 50%; height: 70%;">
<div class="jumbotron">
  	<h1 class="display-5">Login</h1>
  	<form action="" method="post">
  		{% csrf_token %}
    	<label for="username">Username : </label>
    	<input id="username" type="text" name="username" value=""><br>
    	<label for="password">Password : </label>
    	<input id="password" type="password" name="password" value=""><br>
    	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</div>
{% endblock %}