{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h1>Profile</h1>
		<p>Username : {{ user }}</p>
		<p>Email : {{ user.email }}</p>
		<p>Contact no. : {{ user.userprofile.contact_number }}</p>
		<p>Balance Amount : {{ user.userprofile.balance_amount }}</p>
{% endblock %}